USE [master]
GO
/****** Object:  Database [donations]    Script Date: 11/10/2025 1:47:52 PM ******/
CREATE DATABASE [donations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'donations', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PRADEEP\MSSQL\DATA\donations.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'donations_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PRADEEP\MSSQL\DATA\donations_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [donations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [donations]
GO
/****** Object:  Table [dbo].[admin_role]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_role](
	[id] [bigint] NOT NULL,
	[admin_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](max) NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [bigint] NULL,
	[password] [nvarchar](255) NULL,
	[status] [bit] NOT NULL,
	[role_id] [bigint] NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__admins__3213E83FCAC166E9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donations]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_mode] [nvarchar](20) NULL,
	[payment_mode_details] [nvarchar](255) NULL,
	[receipt_number] [nvarchar](255) NULL,
	[admin_id] [bigint] NULL,
	[ritual_performing_date] [date] NULL,
	[ritual_performing_date2] [date] NULL,
	[donor_name] [nvarchar](255) NULL,
	[in_favour] [nvarchar](255) NULL,
	[mobile_number] [nvarchar](255) NULL,
	[whatsapp_number] [nvarchar](255) NULL,
	[alternate_number] [nvarchar](255) NULL,
	[area] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[gotra] [nvarchar](255) NULL,
	[id_type] [nvarchar](255) NULL,
	[id_number] [nvarchar](255) NULL,
	[scheme_name] [nvarchar](255) NULL,
	[donation_amount] [decimal](10, 2) NULL,
	[full_address] [nvarchar](max) NULL,
	[donation_date] [date] NULL,
	[tithi] [nvarchar](255) NULL,
	[spl_date] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK__donation__3213E83F69925AF2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modules]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modules](
	[id] [int] NOT NULL,
	[module_name] [nvarchar](100) NOT NULL,
	[form_name] [nvarchar](100) NOT NULL,
	[status] [int] NOT NULL,
	[created_at] [date] NOT NULL,
	[updated_at] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](150) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission_role]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission_role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[permission_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [bigint] NOT NULL,
	[name] [nvarchar](191) NOT NULL,
	[slug] [nvarchar](191) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[module_id] [int] NOT NULL,
	[can_save] [bit] NULL,
	[can_update] [bit] NULL,
	[can_delete] [bit] NULL,
	[can_view] [bit] NULL,
	[can_export] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__role_per__3213E83F8954325A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](121) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schemes]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schemes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_schemes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[id] [bigint] NOT NULL,
	[logo] [nvarchar](255) NULL,
	[fav_icon] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [DF__admins__status__3B75D760]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[modules] ADD  DEFAULT (CONVERT([date],getdate())) FOR [created_at]
GO
ALTER TABLE [dbo].[modules] ADD  DEFAULT (CONVERT([date],getdate())) FOR [updated_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__can_s__4CA06362]  DEFAULT ((0)) FOR [can_save]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__can_u__4D94879B]  DEFAULT ((0)) FOR [can_update]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__can_d__4E88ABD4]  DEFAULT ((0)) FOR [can_delete]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__can_v__4F7CD00D]  DEFAULT ((0)) FOR [can_view]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__can_e__5070F446]  DEFAULT ((0)) FOR [can_export]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__creat__5165187F]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF__role_perm__updat__52593CB8]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[schemes] ADD  CONSTRAINT [DF__schemes__status__5535A963]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [CK__donations__payme__403A8C7D] CHECK  (([payment_mode]='Cheque' OR [payment_mode]='Online' OR [payment_mode]='Cash'))
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [CK__donations__payme__403A8C7D]
GO
/****** Object:  StoredProcedure [dbo].[GetDonationReceiept]    Script Date: 11/10/2025 1:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetDonationReceiept]
(
	@ReceiptNo varchar(50)
)
As
BEGIN
	Select * from donations Where receipt_number=@ReceiptNo
END
GO
USE [master]
GO
